<h6> HOME PAGE </h6>
{% extends 'CupCakeCode/layout.html' %}{#author Cass July 8th 2019#}
{# this is written with jinja2 code for MaterialiseCSS between brackets with modulars  #}
{# this is a loop in jinga to list the posts and add a click/hyperlink the right one #}
{% block content %}


    <h4 class = "container">encouraging women into coding...</h4>
    <h6 class = "container"><n></n><n></n>TRY SOME CODE NOW!</h6>
    <h6 class = "centre-align blue lighten-4", class="container centre-align"></h6>

    
  
 <p2><br> social media contact us links</p2>

{% endblock %}