<h6> info PAGE </h6>
{% extends 'CupCakeCode/layout.html' %}{#author Cass July 8th 2019#}
{# this is written with jinja2 code for MaterialiseCSS between brackets with modulars  #}
{# this is a loop in jinga to list the posts and add a click/hyperlink the right one #}
{% block content %}


    <h4 class = "container">everything you need to get started...</h4>
    <h6 class = "container">List of tools</h6>
    <h2> buttons for different tools books/tutorials/courses </h2>
    <h6 class = "centre-align blue lighten-4", class="container centre-align"></h6>

    
  
 <p2><br> social media contact us links</p2>

{% endblock %}